<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title}}{% endif %} - Burd Tennis</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content=""/>
	<meta name="keywords" content="">
	<meta name="author" content="Katherine Delorme">
	<meta name="application-name" content="Training Tennis
Greatness"/>
	<!--Dublin Core-->
	<meta name="DC.Title" content="" />
	<meta name="DC.Creator" content="Katherine Delorme" />
	<meta name="DC.Subject" content="Tennis, Tennis lessons" />
	<meta name="DC.Description" content="{{ page.shortblurb }}" />
	<meta name="DC.Type" content="" />
	<meta name="DC.Language" content="English" />
	<!--Twitter Card: Summary-->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="" />
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title}}{% endif %}" />
	<meta name="twitter:description" content="GENERIC TWITTER DESCRIPTION" />
	<meta name="twitter:image" content="{{ page.twsocialmediaimg }}" />
	<!--Facebook Open Graph-->
	<meta property="og:url" content="http://LINK.com{{ page.url}}" />
	<meta property="og:type" content="blog" />
  <meta property="author" content="https://www.facebook.com/PAGE/" />
  <meta property="article:author" content="https://www.facebook.com/PAGE/" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title}}{% endif %}" />
	<meta property="og:description" content="GENERIC FB DESCRIPTION" />
	<meta property="og:image" content="{{ page.fbsocialmediaimg }}" />
	<!--favicon-->
	<link rel="icon" type="image/png" href="IMG.png" />
	<!--stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{"/css/styles.css" | prepend: site.baseurl }}">
  <!--<link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">-->
  <link rel="canonical" href="http://LINK.com{{ page.url }}">
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>

<body>
	<header>

    <nav class="navbar navbar-expand-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#">Logo</a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="http://katherinedelorme.com/tennis/index.html" class="nav-item nav-link">Home</a>
          {% for page in site.pages %} {% if page.title %}
				  <a href="{{ page.url | prepend: site.baseurl }}" class="nav-item nav-link" >{{ page.title }}</a>
				{% endif %} {% endfor %}
        </div>
      </div>
    </nav>

	</header>

  <div class="container-fluid">
