<h3>Share this event</h3>

<div class="postShare">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://google.com{{ page.url }}" target="_blank">
    <i class="fa fa-facebook fa-lg"></i>
  </a>
  <a href="https://twitter.com/intent/tweet?url=https://google.com{{ page.url }}&text={{ page.twitterblurb }} via @{{ site.twitter_username }}" target="_blank">
    <i class="fa fa-twitter fa-lg"></i>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://google.com{{ page.url }}&title={{ page.title }}&summary={{ page.linkedinblurb }}&source={{ site.title }}" target="_blank">
    <i class="fa fa-linkedin fa-lg"></i>
  </a>
  <a  href="mailto:?subject=Upcoming Tennis Event: {{ page.title }}&amp;body=Check out this event with Burd Tennis http://link.com{{ page.url }}"
	        title="Share via Email" >
	  <i class="fa fa-envelope fa-lg"></i>
  </a>
</div>
