/* Variables and mixins will go here.*/
$primary: #ed2027;
$secondary: #353736;
$tertiary: #ffffff;
$font-style-primary: 'Antonio', sans-serif;
$font-style-secondary: 'Lora', serif;
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
  color: $secondary;
  font-family: $font-style-secondary;
  font-size: 1.25em;
  font-weight: 600;
}
p{
  font-family: $font-style-secondary;
  font-size: 1.25em;
}
