/* Variables and mixins will go here.*/
$primary: #ed2027; //red
$secondary: #353736; //black grey
$tertiary: #ffffff;
@font-face {
   font-family: Antonio;
   src: url(../assets/fonts/Antonio-Regular.ttf);
}
@font-face {
   font-family: Antonio;
   src: url(../assets/fonts/Antonio-bold.ttf);
   font-weight: 600;
}
$font-style-primary: 'Antonio', sans-serif;
$font-style-secondary: 'Lora', serif;
h1 {
  color: $tertiary;
  font-family: $font-style-primary;
  font-size: 3em;
  text-transform: uppercase;
}
h2 {
  font-family: $font-style-primary;
  font-size: 2.5em;
}
h3 {
  font-size: 2.25em;
  font-family: $font-style-primary;
  text-transform: uppercase;
}
h4 {
}
h5 {
}
h6 {
  color: $secondary;
  font-family: $font-style-secondary;
  font-size: 1.25em;
  font-weight: 600;
}
p{
  font-family: $font-style-secondary;
  font-size: 1.25em;
}
header{
    border-bottom: 1px solid $secondary;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.container-fluid {
  font-family: $font-style-secondary;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0;
}
section{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
  &:first-of-type{
    /*padding-top: 60px;*/ //So content shows below menu
  }
}
.sameheight{
  height: 80vh;
}
.btnLink{
  background-color: $primary;
  color: $tertiary;
  font-family: $font-style-primary;
  font-size: 1.375em;
  padding: 2% 8%;
  text-transform: uppercase;
  &:hover{
    color: #000000;
    text-decoration: none;
  }
}
.basepadding{
  padding-right: 30px;
  padding-left: 30px;
}
.nospace{
	margin: 0;
	padding: 0;
}
