/* ///////////// Navigation ////////////// */
nav .navbar-nav a, .navbar-light .navbar-nav .nav-link{
	color: $tertiary;
	font-family: $font-style-primary;
	font-size: 1.2rem;
	&:hover{
		color: $primary;
		/*background-color: $primary;
		padding-top: 0;
		padding-bottom: 0;*/
	}
}
/* ///////////// Navigation End ////////////// */
.homeTop{
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../assets/tennisLeap.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
	margin-right: 0;
	margin-left: 0;
	padding-top: 60px;
	div{
		position: relative;
		left: 57%;
		top: 27%;
		h1{
			line-height:120%;
			margin-bottom: 10%;
			&:before{
			  content: "";
			  position: absolute;
			  height: 5px;
			  border-top: 5px solid $primary;
			  top: 3%;
				left: -75%;
			  width: 200px;
			}
		}
	}
}

.postholder{
	padding: 4% 0;
	.post-item{
		align-self: flex-end;
		margin-bottom: 4%;
		a{
			color: $secondary;
			display: block;
		}
		time{
			color: $secondary;
			font-family: $font-style-secondary;
			font-size: 1em;
		}
		.learnmore{
			color: $secondary;
			font-family: $font-style-secondary;
			font-size: 1em;
			text-decoration: underline;
			&:hover{
				color: $primary;
			}
		}
	}
}
.borderbefore{
	position: relative;
	left: 13%;
	h3{
		padding-left: 15px;
	&:before{
		content: "";
		position: absolute;
		height: 5px;
		border-top: 5px solid $primary;
		top: 40%;
		right: 100%;
		width: 200px;

		}
	}
}

.borderafter{
	position: relative;
	h3{
	&:before{
		content: "";
		position: absolute;
		height: 5px;
		border-top: 5px solid $primary;
		top: 40%;
		right: 43%;
		width: 200px;

		}
	}
}
.homepglevel{
  background-image: url("../assets/clayCourt.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: 100% auto;
	color: $tertiary;
	height: 80vh;
	margin: 0;
	padding: 0;
}
.homepglevelL{
	background: rgba(53,55,54,0.9);
	@extend .basepadding;
	padding-top: 30px;
	padding-bottom: 30px;
	div:last-child{
		width: 85%;
	}
	p{
		margin-top: 5%;
		width: 70%;
	}
	a{
		color: $tertiary;
		display: flex;
		font-family: $font-style-primary;
		font-size: 1.2em;
		justify-content: flex-end;
		text-transform: uppercase;
		&:hover{
			text-decoration: none;
		}
	}
}
.homepglevelR{
	align-self: flex-end;
	padding-top: 30px;
	padding-bottom: 30px;
}
.meetburd{
	color: $tertiary;
	height: 80vh;
	margin: 0;
	padding: 0;
	div{
		&:first-of-type{
			background-image: url("../assets/burd.jpg");
		  background-position: top center;
		  background-repeat: no-repeat;
			background-size: cover;
		}
		&:last-of-type{
			background: #353736;
			padding-right: 80px;
		  padding-left: 80px;
			padding-top: 30px;
			padding-bottom: 30px;
			h3{
				border-bottom: 5px solid $primary;
				padding-bottom: 10px;
				margin-bottom:  20px;
			}
		}
	}
}

/* ///////////// About ////////////// */
.aboutShortFacts div{
	border-right: $secondary solid 1px;
	&:last-of-type{
		border-right: none;
	}
	p{
		padding-top: 3%;
	}
}
/* ///////////// About End ////////////// */

/* ///////////// Events ////////////// */
.eventsTop{
	background: $secondary;
	/*background-image: url("../assets/about-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;*/
	margin-right: 0;
	margin-left: 0;
	h2{
		color: $tertiary;
	}
	div{
		padding: 0 60px;
		&:first-child{
			height: 50vh;
			align-items: center;
		}
	}
}
.eventTime{
	background: $primary;
	color: $secondary;
	font-family: $font-style-primary;
	font-size: 1.5em;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
}
.eventContent{
	padding-left: 60px;
	padding-right: 60px;
}
//align-self: flex-end;
//align-items: flex-end;
.postShare a{
	color: $secondary;
	margin-right: 2%;
	text-decoration: none;
}
.postShare a:hover{
	color: $primary;
}
/* ///////////// Events End ////////////// */

/* ///////////// Contact ////////////// */
.borderBelow{
	border-bottom: 5px solid $primary;
	padding-bottom: 10px;
	margin-bottom:  20px;
}
.contactInfo{
	background: $secondary;
	color:  $tertiary;
}
/* ///////////// Contact End ////////////// */

/* ///////////// Footer ////////////// */
	footer{
		padding-top: 2%;
		@extend .basepadding;
		.footerLink a{
			color: $secondary;
			font-family: $font-style-primary;
			font-size: 1.2rem;
			padding-right: .5rem;
			padding-left: .5rem;
			&:hover{
				color: $primary;
				text-decoration: none;
			}
			&:last-of-type{
				padding-right: 0;
			}
		}
		.footerContent{
			p:first-of-type{
				color: $secondary;
				font-family: $font-style-primary;
				font-size: 1.2rem;
				margin-bottom: 0.5em;
			}
			p:last-of-type{
				color: $secondary;
				font-family: $font-style-secondary;
				font-size: 1rem;
			}
		}
	}

/* ///////////// Footer End ////////////// */

/* ///////////// responsiveness ////////////// */
// Extra small devices
@media (min-width: 576px) and (max-width: 767px) {
}
// Mine xSmall devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	.heightauto{
		height: auto !important;
	}
	.sameheight{
		height: auto;
	}
	.homeTop{
		background-position: left center;
		div {
			left: 0;
			h1{
				&:before{
					border-top:none;
				}
			}
		}
	}
	.postholder .post-item {
    margin-bottom: 30px;
	}
	.borderbefore{
		left: 0;
		h3{
			padding-left: 0;
			&:before {
				border-top:none;
			}
		}
	}
	.borderafter h3::before {border-top:none;}
	.homepglevel {
		background-size: cover;
		height: auto;
	}
	.homepglevelL div:last-child {
    width: 100%;
	}
	.homepglevelL p {
    width: 100%;
	}
	.meetburd{height: auto;}
	.meetburd div:first-of-type{height: 60vh;}
	.meetburd div:last-of-type {
    padding-right: 30px;
    padding-left: 30px;
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.homeTop{
		background-position: center center;
		div{
			position: relative;
			left: 57%;
			top: 27%;
		}
	}
}
/* ///////////// responsiveness end////////////// */
