<!DOCTYPE html>
<html>
  {% include header.html %}

  <section class="eventsTop nospace">
    <div class="row nospace">
    <h2>{{ page.title }}</h2>
    </div>
  </section>
  
  <section>
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <img src="../assets/courtOverhead.jpg" width="100%" />
    	</div>

    	<div class="col-md-8 col-sm-12">
        <h3>Miami Shores Tennis Club</h3>
        <h6>Tennis For All</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices fringilla magna, quis mollis nisi viverra a. Sed malesuada ornare porta. Nam faucibus, elit efficitur dapibus lacinia, erat felis rhoncus enim, ac imperdiet dui turpis a erat. Mauris ut malesuada erat. Sed urna mauris, imperdiet vitae arcu sed, consectetur condimentum arcu. Etiam ultrices nulla a elit tempor, non blandit tortor commodo. </p>

        <p>Aenean vel lacus vel arcu rhoncus tempor. Mauris ac ornare elit, eget vulputate leo. Fusce rhoncus libero sed nisl condimentum euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque luctus ligula eu sodales molestie. Ut dui tellus, laoreet et urna a, laoreet sollicitudin diam. Proin quis mattis risus. </p>
    	</div>
    </div>
  </section>

  <section>
    <div class="row  aboutShortFacts">
      <div class="col-lg-4 col-xs-12">
        <h6>Founded In</h6>
        <h3>2006</h3>
    	</div>
      <div class="col-lg-4 col-xs-12">
        <h6>Courts</h6>
        <h3>4</h3>
    	</div>
      <div class="col-lg-4 col-xs-12">
        <h6>Professional Instructors</h6>
        <h3>10</h3>
    	</div>
    </div>
  </section>

  <section class="sameheight nospace">
    <div class="row meetburd">
      <div class="col-md-5 col-12">
      </div>
      <div class="col-md-7 col-12">
        <h3>Meet Burd</h3>
        <p>Liburd Paul Germain, best known as Coach Burd, has been a tennis instructor for over fifteen years. He has taught in multiple countries including St-Tropez-France, Denmark, Valencia-Spain, and Florence-Italy. Currently he is teaching in his hometown of Miami, Florida at the Miami Shores Country Club. He speaks English, Creole and French and is able to communicate in Spanish.</p>
      </div>
    </div>
  </section>


  {% include footer.html %}
