<!DOCTYPE html>
<html>
  {% include header.html %}

  <section>
    This is  a section
  <section>

  <section>
    <div class="row postholder">
      {% for post in site.posts reversed offset: 0 limit: 4 %}
      <div class="col-3 post-item">
        <h6><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
        <time>{{ post.eventdate | date: "%B %-d, %Y" }}</time>
        <a href="{{ post.url | prepend: site.baseurl }}" class="learnmore">Learn More</a>
      </div>
      {% endfor %}
    </div>
  </section>

  {% include footer.html %}
