<!DOCTYPE html>
<html>
  {% include header.html %}

  <section class="row homeTop">
    <div>
      <h1>Training Tennis<br/>Greatness</h1>
      <a href="#" target="_blank" class="btnLink">Book A Lesson</a>
    </div>
  </section>

  <section class="sameheight homepglevel">
    <div class="row homepglevel">
      <div class="col-md-6 col-12 post-item homepglevelL">
        <div class="borderafter">
          <h3>Beginner</h3>
        </div>
        <div>
          <p>Learn basic forehand and backhand technique in the beginner coarse. A great start to learn moves that’ll allow one to enjoy the game. With a quick tutorial on the rules of the game. Guidance is given on making full turns and executing a full swing at the ball.</p>
          <a href="#" class="text-right">Book A Lesson</a>
        </div>
      </div>
      <div class="col-md-6 col-12 post-item homepglevelR">
      <h3 class="text-right">Advance</h3>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="borderbefore">
        <h3>Events</h3>
      </div>
    </div>
    <div class="row postholder">
      {% for post in site.posts reversed offset: 0 limit: 4 %}
      <div class="col-md-3 col-12 post-item">
        <h6><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
        <time>{{ post.eventdate | date: "%B %-d, %Y" }}</time>
        <a href="{{ post.url | prepend: site.baseurl }}" class="learnmore">Learn More</a>
      </div>
      {% endfor %}
    </div>
  </section>

  {% include footer.html %}
