<!DOCTYPE html>
<html>
  {% include header.html %}

  <section class="eventsTop nospace">
    <div class="row nospace">
    <h2>{{ page.title }}</h2>
    </div>
    <div class="row eventTime nospace">
      <time>{{ page.date | date: "%B %-d, %Y"}}</time>
      <time>{{ page.eventtime }}</time>
    </div>
  </section>

  <section class="eventContent">
    <main>
      <article>
          <div class="post">
              {{ content }}
          </div>
      </article>
    </main>
  </section>

  <section class="eventContent">
    <h2>Related Events</h2>
    <div class="postholder postholderspace">
      {% for post in site.related_posts limit: 3 %}
      <div class="post-item">
        <div>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="postimg" style="background-image: url({{ post.banner}})"></div>
          </a>
        </div>
        <div class="post-caption">
          <p>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  {% include footer.html %}
